@page
@model RecipeApp.Pages.Recipe.IndexModel

@{
    ViewData["Title"] = "Index";
    int i = 0;
    string rate = "";
}

<h1>Index</h1>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input class="btn btn-outline-secondary btn-sm" type="submit" value="Filter " />
    </p>
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="card-container d-flex flex-row flex-wrap justify-content-center gap-3">
@foreach (var item in Model.Recipe)
{
    <div class="card position-relative" style="width: 18rem;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill position-absolute top-0 end-0 m-2" viewBox="0 0 16 16">
            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
        </svg>
        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="h-50 card-img-top object-fit-cover border rounded" alt="recipe image">
        <div class="card-body d-flex flex-column justify-content-between">
            <div class="card-text-box">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
            <p class="avg-rating text-end">
                @if (Model.RecipeAverageRatingList[i] == 0.0)
                {
                    rate = "No ratings yet";
                    i++;
                }
                else 
                {
                    rate = "Avarage rating: " + Model.RecipeAverageRatingList[i].ToString() + "/5";
                    i++;
                }
                @rate
            </p>
            <div class="card-nav-box d-flex gap-1">
                <a class="btn btn-outline-primary btn-sm flex-grow-1 flex-shrink-1" asp-page="./Edit" asp-route-id="@item.RecipeId">Edit</a>
                <a class="btn btn-outline-success btn-sm flex-grow-1 flex-shrink-1" asp-page="./Details" asp-route-id="@item.RecipeId">Details</a>
                <a class="btn btn-outline-danger btn-sm flex-grow-1 flex-shrink-1" asp-page="./Delete" asp-route-id="@item.RecipeId">Delete</a>
                <a class="btn btn-outline-info btn-sm flex-grow-1 flex-shrink-1" asp-page="/Rate" asp-route-id="@item.RecipeId">Rate</a>
            </div>
        </div>
    </div>
}
</div>

